# Ambiente Virtual
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Dados locais (mantenha os arquivos raw fora do controle de versão se forem grandes/sensíveis)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db